<!DOCTYPE html>
<html lang="en">
   <head>
      <title>TS10 assignment</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
      <script src= "{{ url_for('static',filename='js/tasks.js') }}"></script>
    </head>
    <body>
       <center>
          <div class="parentDiv">
               <div><h3>Add Task</h3></div>
               <form>
                  <div class="form-group">
                     Task:
                     <input type="text" name="taskName" id="taskName" required>
                     <br>
                     <span class="showError" id="errorTaskName" >Enter name first!</span>
                     <br>
                  </div>
                  <div class="form-group">
                     Date:
                     <input type="date" name="date" id="taskDate" required>
                     <br>
                     <span class="showError" id="errorTaskDate" >Enter valid task date</span>
                     <br>
                  </div>
                  <div class="form-group">
                     Status:
                     <select id="select">
                        <option value="open">Open</option>
                     </select>
                     <br>
                  </div>
                 <div class="form-group">
                     <input type="button" class="buttonSubmit" onclick="saveTaskDetails()" value="Submit">
                 </div>
                 <div class="form-group">
                     <input type="button" class="buttonSubmit" onclick="backToHome()" value="Back">
                 </div>
                <br>
                </form> 
          </div>
       
         </center>
    </body>
    </html>