<!DOCTYPE html>
<html lang="en">
   <head>
      <title>TS10 assignment</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
      <script src= "{{ url_for('static',filename='js/tasks.js') }}"></script>
    </head>
    <body>
       <div id="wrapper">
            <div id="inner1" class="col-lg-10 col-md-10">
                  <h3>Task List</h3>
                  <input type="button"class="button" onclick="navigateToAddTask()" value="Add Task">
                  <table>
                     <thead>
                        <tr>
                              <th>Task Id</th>
                              <th>Name</th>
                              <th>Date</th>
                              <th>Created Date</th>
                              <th>Modified Date</th>
                              <th>Status</th>
                        </tr>
                        
                     </thead>
                     <tbody id="taskTableBody">
                        {% if length !=0 %}
                         {% for res in data %}  
                         <tr>
                              <td>{{res.taskId}}</td>
                              <td>{{res.taskName}}</td>
                              <td>{{res.taskDate}}</td>
                              <td>{{res.createdDate}}</td>
                              <td>{{res.modifiedDate}}</td>
                              <td>{{res.status}}</td>
                         </tr>
                        {% endfor %}
                        {% else %}
                           <tr>
                             <td>No Task Added </td> 
                           </tr>
                        {% endif %}
                     </tbody>
                  </table>
               </div>
               
       </div>
      
    </body>
    </html>