/*
Author      : Sushant Patil
Name        : styles.css
Created At  : 09 August 2019
Modified    : 11 August 2019      
Description : This file is used for styling of the webpages
*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .parentDiv{
      margin-top: 40px;
      border:1px solid black;
      margin-left: 30%;
      margin-right: 30%;
      padding: 10px
  }
  .button {
    background-color: #1c3d99; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    float: right;
    margin-bottom: 10px
  }
  .buttonSubmit {
    background-color: #1c3d99; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
  .buttonDiv{
    float: left;
  }
  #wrapper{
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}
#inner1{
  float:left; 
  }
  #inner2{
  float:left; 
  clear: left;
  }
  .showError{
    font-size: 12px;
    color:red;
    visibility: hidden;
}